:root{
    
    --Negro: #000000;
    --AzulGrisaceo: #000000;
    --VerdeMenta: #2EC4B6;
    --GrisClaro: #F5F7FA;
    --GrisOscuro: #2B2D42;
    --Blanco: #FFFFFF;
    --GrisClaro: #DFE9F3;
}

/* Globales */
html{
    font-size: 60.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;

}

/* Scroll snap */

.servicios
.navegacion-principal
.formulario{

    scroll-snap-align: center;
    scroll-snap-type: y mandatory;

}

:before, :after {
    box-sizing: inherit;
}

body{
    font-size: 16px; /*1rem = 10x*/
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(to bottom, var(--Blanco), var(--GrisClaro));
    
}

.contenedor{
    width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}
.boton{
    padding: 15px 30px;
	background-color: var(--GrisClaro);
	color: rgb(0, 0, 0);
	border: none;
	font-size: 20px;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-weight: bold;

}



.boton:hover {
	background-color: #a5a5a5;
	transform: translateY(-5px);
	box-shadow: 0 8px 20px rgba(21, 11, 14, 0.8);
}

.sombra{
    -webkit-box-shadow: 0 4px 8px 0 rgba(122,122,122,0.48);
    -moz-box-shadow: 0 4px 8px 0 rgba(122,122,122,0.48);
    box-shadow: 0 4px 8px 0 rgba(122,122,122,0.48);
    background-color: var(--Blanco);
    padding: 2rem;
}
 /* Tipografias */

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
    color: var(--AzulProfundo);
    margin-bottom: 2rem;
}

h3{
    font-size: 2.2rem;
    color: var(--AzulProfundo);
    margin-bottom: 1.5rem;
}

h1,h2,h3{
    text-align: center;
}



.titulo span{
    font-size: 2rem;
    color: var(--AzulProfundo);
    background-image: linear-gradient(to right, var(--VerdeMenta), var(--AzulProfundo));
}

/*Utilidaes*/


/* */

.nav-bg{
    background-color: var(--AzulGrisaceo);
    padding: 1rem 0;
    
}

.navegacion-principal{
    flex-direction: column;
    display: block;
    text-align: center;
    color: var(--Blanco);
    text-decoration: none;
    font-size: 2rem;
   
    
}

@media(min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    color: var(--Blanco);
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 10rem;
    
}

.navegacion-principal a:hover{
    color: var(--Negro);
    background-color: var(--Blanco);

}

/*hero*/

.hero{
    background-image: url(../img/hero.png);
    background-size: cover;
    background-position:  center;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
    margin-bottom: 2rem;
    color: #FFFFFF;
}

footer{
    background-color: var(--AzulGrisaceo);
    padding: 2rem 0;
    margin-top: 4rem;
    text-align: center;
    color: var(--Blanco);
    font-size: 1.4rem;
}